body {
background-image: url('img/success.jpg') ; 
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
font-family: 'Poppins', sans-serif;
}

.msg {
background:  rgba(219,193,172 , 0.8);
padding: 3rem;
border-radius: 12px;
text-align: center;
box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.msg h1 { color: #6f372d; margin-bottom: 1rem; }
.msg h2 { color: #886355; margin-bottom: 1rem; }
.msg p  { color: #3b2f2f; }
